* {
    /* o asterisco significa a configuração de TUDO, uma base */
    margin: 0;
    /* margem */
    padding: 0;
    /* profundidade do elemento, espaçamento interno */
    box-sizing: border-box;
    /* borda geral*/
    font-family: 'Open Sans', sans-serif;
    /* adicionado do google fonts*/
}

body {
    display: flex;
    /* Determina como os elementos aparecem na tela e possibilita algumas configurações como o 'align itens' */
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* altura, vh é a quantidade pega da tela, 100 é tudo */
    width: 100vw;
    /* largura, vw é a quantidade pega da tela, 100 é tudo */
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    /* imagem de fundo do site como um todo */
}

.caixa-maior {
    /* para chamar uma classe do html colocar o '.'seguido do nome */
    background-color: #000000;
    /* div é a caixa e aqui exibe a cor de fundo da caixa*/
    opacity: 0.8;
    /* transparencia do item */
    width: 95%;
    /* largura da caixa */
    max-width: 420px;
    /* largura máxima da caixa */
    padding: 20px;
    border-radius: 25px;
    /* arrendonda a borda da caixa */
}

input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: white;
    width: calc(100% - 100px);
}

button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    /* coloca todo a direita */
    cursor: pointer;
    /* o mouse é uma 'mãozinha' */
}

button:hover {
    background-color: #7c7c7c6b;
}

.lupa {
    height: 20px;
}

.caixa-media {
    margin-top: 25px;
}

h2 {
    color: white;
    font-size: 28px;
    /* tamanho do texto */
}

.temperatura {
    color: white;
    margin-top: 25px;
}

.caixa-menor {
    display: flex;
    margin-top: 25px;
    align-items: center;
}

.clima {
    color: white;
    margin-left: 20px;
    text-transform: capitalize;
    /* Deixa a primeira letra das palavras em maiusculo */
}

.umidade {
    color: white;
    margin-top: 25px;
}